[submodule "lib/incredis"]
	path = lib/incredis
	url = https://github.com/KingDuckZ/incredis.git
[submodule "lib/better-enums"]
	path = lib/better-enums
	url = https://github.com/aantron/better-enums
[submodule "lib/mstch"]
	path = lib/mstch
	url = https://github.com/no1msd/mstch.git
