<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<title>Tawashi</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="Tawashi, text storage site." />
		<meta name="keywords" content="text storage, pastebin, source code snippets, code review" />
		<meta name="author" content="Unknown" />
		<link rel="stylesheet" href="tawashi.css" />
		<link rel="icon" href="icon" />

</head>
