	<div id="topbar">
		<p id="version">tawashi {{version}}</p>
		<a href="index.html"><img src="Pictures/tawashi-icon-new.png" alt="tawashi icon" class="icon"></a>
		<a href="save.html"><input type="image" src="Pictures/save-ink-t.png" alt="Submit" class="icon-green" title="Save"/></a>
		<a href="index.html"><img src="Pictures/new-ink-t.png" alt="new icon" class="icon-green" title="New"/></a>
		<a href="edit.html"><img src="Pictures/edit-ink-t.png" alt="duplicate and edit icon" class="icon-green" title="Duplicate and Edit"/></a>
		<a href="text.html"><img src="Pictures/text-ink-t.png" alt="text icon" class="icon-green" title="Text only"/></a>
		<img src="Pictures/C++-icon.jpeg" alt="c++ icon" class="icon-right"/>
		<a href=""><img src="Pictures/github-icon.jpeg" alt="github icon" class="icon-right" /></a>	
	</div>
