<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<title>KamoKan</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="KamoKan, text storage site." />
		<meta name="keywords" content="text storage, pastebin, source code snippets, code review" />
		<meta name="author" content="Elena" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<link rel="icon" href="icon" />

		<link rel="stylesheet" media="screen and (min-width: 481px)" href="kamokan.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="kamokan-mobile.css" />

</head>
