
html {
	margin: 0px;
	padding: 0px;
	min-width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #303030;
    margin: 0px;
    padding-top: 0px;
    min-width: 100%;
}

/*style della barra di navigazione*/
#topbar {
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom: 2px solid black;
}

#content {
	margin: 0;
	padding: 0;
	width: 100%;
}

#page {
	margin: 10px;
}

#version{
	margin: 0px;
	padding: 0px 0px;
	color: RGBA(0, 242, 0, 1);
	font-weight: bold;
	font-size: 17px;
}

.submit-mobile {
	display: none;
}

.icon {
	padding-right: 20px;
}

.icon-right {
	float: right;
   width: 95%;
}

.wrap {
	margin: 20px;
	width: 95%;
	min-height: calc(90vh - 100px);
}

#PasteTextBox {
   background-color: #303030;
   color: #EDEDED;
   resize: none;
   height: calc(80vh - 200px);
   width: 95%;
}

#button {
	margin: 0px 20px 20px 20px;
}

.title{
	display: inline-block;
	color: #EDEDED;
	font-weight: bold;
	font-size: 17px;
}

#delete {
	font-size: 17px;
	color: #EDEDED;
	display: inline;
}

.selectBox {
  font-size: 15px;
  background: #EDEDED;
  color: black;
  padding: 5px;
  margin-right: 20px;
  border: solid #9e9e9e 1px;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.error {
	font-size: 28px;
	text-align: center;
}

footer  {
	padding-left: 30px;
	position: relative;
	font-size: 15px;
	color: #EDEDED;
	width: calc(100% - 200px);
}

#numbers {
	display: table-cell;
	color: #EDEDED;
	font-family: monospace;
	width: 40px;
   user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
}

#lines {
	display: table-cell;
	font-family: monospace;
}

#code {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	white-space: pre;
	word-wrap: break-word;
}

#message {
	color: #EDEDED;
	font-size: 22px;
	text-align: center;
}

.link {
	color: RGBA(0, 242, 0, 1);
}

.mar-pad0 {
	margin: 0px;
	padding: 0px;
}