	<div id="button">
		<p class="title">Syntax Highlighting:</p>
			<select name="lang" class="selectBox">
				<option value="colourless" selected="selected">None  </option>
				{{#languages}}
				<option value="{{language_name}}">{{language_name}}</option>
				{{/languages}}
			</select>

		<p class="title">Paste Expiration:</p>
			<select name="ttl" class="selectBox">
				<option value="600">10 minutes</option>
				<option value="3600">1 hour</option>
				<option value="86400" >1 day</option>
				<option value="604800" selected="selected">1 week</option>
				<option value="1209600">2 weeks</option>
				<option value="2628000">1 month</option>
			</select>

		 <input type="checkbox" name="selfdes" value="1"><p id="delete">Delete this text as soon as it has been read.</p>
	</div>

	</form>

	{{> footer}}

</body>
</html>
