	<div id="topbar">
		<p id="version">kamokan {{version}}</p>
		<a href="{{base_uri}}"><img src="Pictures/kamokan-icon-new.png" alt="kamokan icon" class="icon"></a>
		<a href="save.html"><input type="image" src="Pictures/save-ink.png" alt="Submit" class="icon-green" title="Paste"/></a>
		<a href="{{base_uri}}"><img src="Pictures/new-ink.png" alt="new icon" class="icon-green" title="New"/></a>
		<a href="edit.html"><img src="Pictures/edit-ink.png" alt="duplicate and edit icon" class="icon-green" title="Duplicate and Edit"/></a>
		<a href="text.html"><img src="Pictures/text-ink.png" alt="text icon" class="icon-green" title="Text only"/></a>

		<a href="https://github.com/KingDuckZ/kamokan"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

	</div>
