	<div id="topbar">
		<p id="version">KamoKan</p>
		<a href="{{host_path}}/"><img src="{{host_path}}/Pictures/kamokan-icon-gt.png" alt="kamokan icon" class="icon"></a>

		{{^submit_page}}
		<img src="{{host_path}}/Pictures/save-grey.png" alt="no-submit" class="icon-green">
		{{/submit_page}}

		{{#submit_page}}
		<a href="save.html"><input type="image" src="{{host_path}}/Pictures/save-ink.png" alt="Submit" class="icon-green" title="Paste"/></a>
		{{/submit_page}}

		<a href="save.html" class="submit-mobile"><input type="submit" title="Paste"/></a>

		<a href="{{host_path}}/"><img src="{{host_path}}/Pictures/new-ink.png" alt="new icon" class="icon-green" title="New"/></a>

      {{#pastie_page}}
      {{^selfdes}}
		<a href="{{host_path}}/{{pastie_token}}"><img src="{{host_path}}/Pictures/text-ink.png" alt="text icon" class="icon-green" title="Text only"/></a>
		<a href="{{host_path}}/edit.cgi?{{pastie_token}}"><img src="{{host_path}}/Pictures/edit-ink.png" alt="edit icon" class="icon-green" title="Edit"/></a>
		{{/selfdes}}
      {{/pastie_page}}

		{{> github }}

	</div>
